![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [49]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [50]:
atleast_math_scores = schools[schools['average_math'] >= 0.8 * 800]
atleast_math_scores.head()

                                          school_name  ... percent_tested
0   New Explorations into Science, Technology and ...  ...            NaN
45                      Eleanor Roosevelt High School  ...           86.0
68  High School for Mathematics, Science, and Engi...  ...           92.6
88                             Stuyvesant High School  ...           97.4
93                Staten Island Technical High School  ...           99.7

[5 rows x 7 columns]

In [51]:
best_math_schools = atleast_math_scores[['school_name', 'average_math']].sort_values('average_math', ascending = False)
best_math_schools.head()

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683

In [52]:
schools['total_SAT'] = schools[['average_math', 'average_reading', 'average_writing']].sum(axis=1)
top_schools = schools[['school_name', 'total_SAT']].sort_values('total_SAT', ascending=False)
top_10_schools = top_schools.head(10)

In [53]:
borough_stats = (
    schools.groupby('borough')
    .agg(
        num_schools = ('school_name', 'count'),
        average_SAT = ('total_SAT', lambda x: round(x.mean(), 2)),
        std_SAT = ('total_SAT', lambda x: round(x.std(), 2))
    )
    .reset_index()
)
print(borough_stats.head())

max_std_row = borough_stats.loc[borough_stats['std_SAT'].idxmax()]
print(max_std_row.head())

largest_std_dev = pd.DataFrame([max_std_row])
print(largest_std_dev.head())

         borough  num_schools  average_SAT  std_SAT
0          Bronx           98      1202.72   150.39
1       Brooklyn          109      1230.26   154.87
2      Manhattan           89      1340.13   230.29
3         Queens           69      1345.48   195.25
4  Staten Island           10      1439.00   222.30
borough        Manhattan
num_schools           89
average_SAT      1340.13
std_SAT           230.29
Name: 2, dtype: object
     borough  num_schools  average_SAT  std_SAT
2  Manhattan           89      1340.13   230.29